body {
  background-color: #fff;
  font-family: 'Arial', sans-serif;
}

.cache {
  display: none;
}

.action {
  display: block;
  background-color: #eb1f1f;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  top: 70px;  
  z-index: 1;
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
}


/* .surligner et .surligner.current à ne pas enlever ! (tu peux changer les couleurs par contre) */
.surligner {
  background-color: #948d968d !important;
}

.surligner.current {
  background-color: #b31b1b;
}

.barre-recherche {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  z-index: 4;
}

.barre-recherche .fermer-recherche {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.filtre-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  z-index: 15;
}

.filtre-dropdown button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}



.menu-absolute {
  position: absolute ;
  background-color: #f0f0f0;
  color: #000000;
  padding: 10px 20px;
  border-radius: 7px;
  z-index: 20;
  border: 1px solid #ccc;
}


.fleche-bas {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    z-index: 1;
}

 #recherche {
  border-radius: 20px;
  padding: 8px 12px;
  border: 1px solid #ccc;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: red;
  text-align: right;
}

input[type="text"],
input[type="number"],
select,
button {
  border-radius: 12px;       
  padding: 10px 14px;        
  border: 1px solid #141010;  
  background-color: rgb(225, 214, 214); 
  z-index: 5;
  transition: background-color 0.3s, transform 0.2s;
  cursor : pointer
}

button:hover {
  background-color: #d81b1b;
  transform: scale(1.03);
  color : #FFF;
}

select:hover {
  background-color: #d81b1b;
  transform: scale(1.03);
  color : #FFF;
}

#tableauEtudiants,
#contenuOnglet2 {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.95rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  border-radius: 12px; 
  z-index: 5;

}


#tableauEtudiants thead th,
#contenuOnglet2 thead th {
  background-color: #696969;
  color: white;
  text-align: left;
  padding: 12px 8px;
  position: sticky;
  top: 135px;
  z-index: 10;
  border-radius background: 12px; 
  border-left: none;
  border-right: none;
}

#tableauEtudiants thead th:first-child,
#contenuOnglet2 thead th:first-child {
  border-top-left-radius: 12px;
}

#tableauEtudiants thead th:last-child,
#contenuOnglet2 thead th:last-child{
  border-top-right-radius: 12px;
}

#tableauEtudiants tbody td,
#contenuOnglet2 tbody td {
  padding: 10px 8px;
  border-bottom: 1px solid #ccc;
  z-index: 5;
}

#tableauEtudiants th button, {
  margin-left: 4px;
  background-color: red;
  color: white;
  border: none;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}


#tableauEtudiants tr:nth-child(odd),
#contenuOnglet2 tr:nth-child(odd) {
  background-color: #f9f9f9;
  z-index: 5;
}

#tableauEtudiants tr:hover,
#contenuOnglet2 tr:hover {
  background-color: #f1f1f1;
}



.active{
  background-color: #0000008d ;
  color: white;
  border : 1px solid #fff;
}

.carre {
  width: 1500px;
  height: 150px;
  background-color: rgb(255, 255, 255); 
}
